<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <httpRuntime maxRequestLength="1048576" />
    </system.web>
    <system.webServer>
        <!-- Security -->
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="1073741824" />
                <filteringRules>
                    <!-- User agent (bot) check -->
                    <filteringRule name="UserAgent" scanUrl="false" scanQueryString="false">
                        <scanHeaders>
                            <add requestHeader="user-agent" />
                        </scanHeaders>
                        <denyStrings>
                            <clear />
                            <add string="SemrushBot" />
                        </denyStrings>
                    </filteringRule>
                </filteringRules>
            </requestFiltering>
        </security>
        <!-- Set caching -->
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>
        <!-- Rewrite rules -->
        <rewrite>
            <rules>
                <!-- Entry point -->
                <rule name="Index" enabled="true" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="^/(css|img|js|media)" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/(.*)\.(jpg|jpeg|gif|png|ico|txt)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.php" />
                </rule>
                <!-- Maintenance mode -->
                <rule name="Maintenance" enabled="false" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="^/(css|img|js|media)" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/(.*)\.(jpg|jpeg|gif|png|ico|txt)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/maintenance.php" />
                </rule>
            </rules>
        </rewrite>
        <!-- HTTP error redirects -->
        <httpErrors>
                <!--<remove statusCode="404" subStatusCode="-1" />
                <error statusCode="404" path="/404.php" responseMode="ExecuteURL" />-->
        </httpErrors>
    </system.webServer>
</configuration>
